.Rproj.user
.Rhistory
.RData
.Ruserdata
tbgrid.dbf
tbgrid.prj
tbgrid.sbn
tbgrid.sbx
tbgrid.shp
tbgrid.shx
index.Rmd
TB.Rmd
SB.Rmd
EV.Rmd
FB.Rmd
EV_2022_10_SelectedStations.csv
SB_2021_08_SelectedStations.csv
SB_2022_10_SelectedStations.csv
TB_2021_06_SelectedStations.csv
TB_2021_07_SelectedStations.csv
TB_2021_08_SelectedStations.csv
TB_2021_09_SelectedStations.csv
TB_2022_10_SelectedStations.csv
tbgrid_PolygonToLine.dbf
tbgrid_PolygonToLine.prj
tbgrid_PolygonToLine.sbn
tbgrid_PolygonToLine.sbx
tbgrid_PolygonToLine.shp
tbgrid_PolygonToLine.shp.xml
tbgrid_PolygonToLine.shx
SB.cpg
SB.dbf
SB.prj
SB.sbn
SB.sbx
SB.shp
SB.shp.xml
SB.shx
SB.xml
FBM_sampling_grids_2022.shx
FBM_sampling_grids_2022.cpg
FBM_sampling_grids_2022.dbf
FBM_sampling_grids_2022.prj
FBM_sampling_grids_2022.sbn
FBM_sampling_grids_2022.sbx
FBM_sampling_grids_2022.shp
FBM_sampling_grids_2022.shp.xml
FBM_sampling_grids_2022.shp.GFW7WT2.11980.11984.sr.lock
basinsv2polygon.dbf
basinsv2polygon.prj
basinsv2polygon.sbn
basinsv2polygon.sbx
basinsv2polygon.shp
basinsv2polygon.shp.xml
basinsv2polygon.shx
EVM_grid_universe_2_8_22.cpg
EVM_grid_universe_2_8_22.dbf
EVM_grid_universe_2_8_22.prj
EVM_grid_universe_2_8_22.sbn
EVM_grid_universe_2_8_22.sbx
EVM_grid_universe_2_8_22.shp
EVM_grid_universe_2_8_22.shp.xml
EVM_grid_universe_2_8_22.shx